*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:monospace;
}

body{
    background:#000;
    overflow:hidden;
    color:#00ffff;
}

canvas{
    display:block;
}

#ui{
    position:absolute;
    top:15px;
    left:15px;
    z-index:10;
    font-size:14px;
    text-shadow:0 0 8px #00ffff;
}

#ui div{
    margin-bottom:6px;
}

button{
    margin-top:5px;
    padding:4px 10px;
    background:black;
    border:1px solid #00ffff;
    color:#00ffff;
    cursor:pointer;
}

button:hover{
    background:#00ffff;
    color:black;
}