/* themes.css */
/* Minimal setup for future expansions */
.theme-dark {
    --c-bg: #09090b;
}

.theme-scifi {
    --c-bg: #0f172a;
    --c-accent: #06b6d4;
    --c-accent-glow: rgba(6, 182, 212, 0.4);
}

.theme-matrix {
    --c-bg: #052e16;
    --c-accent: #22c55e;
    --c-accent-glow: rgba(34, 197, 94, 0.4);
}