* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--hue: 223;
	--white: hsl(var(--hue) 0% 100%);
	--gray50: hsl(var(--hue) 10% 95%);
	--gray300: hsl(var(--hue) 10% 70%);
	--gray400: hsl(var(--hue) 10% 60%);
	--gray500: hsl(var(--hue) 10% 50%);
	--gray600: hsl(var(--hue) 10% 40%);
	--gray800: hsl(var(--hue) 10% 20%);
	--gray950: hsl(var(--hue) 10% 5%);
	--danger400: hsl(3 90% 60%);
	--trans-dur: 0.3s;
	--trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
	color-scheme: light dark;
	font-size: 16px;
}

body,
button {
	font: 1em / 1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
	background-color: light-dark(var(--gray50), var(--gray950));
	color: light-dark(var(--gray950), var(--gray50));
	display: grid;
	overflow-x: hidden;
	height: 100vh;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
}

button {
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	appearance: none;
}

svg {
	display: block;
}

.notification-center {
	margin: auto;
	padding: 0.75em;
	max-width: 30em;
	height: 100%;

	&__empty {
		color: light-dark(var(--gray600), var(--gray400));
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		transition: color var(--trans-dur);

		.lucide {
			margin-bottom: 0.75em;
			stroke-width: 1.5px;
			width: 4.5em;
			height: 4.5em;
		}
	}
}

.notification-item {
	animation: fade-scale-in calc(var(--trans-dur) * 2) var(--trans-timing) forwards;
	border-radius: 1em;
	box-shadow: 0 0.5em 0.5em hsla(0, 0%, 0%, 0.05);
	margin-bottom: 0.5em;
	max-height: 8em;
	opacity: 0;
	overflow: hidden;
	position: relative;
	user-select: none;
	touch-action: pan-y;
	transform: scale(0);
	transition:
		margin var(--trans-dur) var(--trans-timing),
		max-height var(--trans-dur) var(--trans-timing),
		transform var(--trans-dur) var(--trans-timing);

	&__actions {
		background-color: var(--danger400);
		border-radius: 1em;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		z-index: 1;
	}

	&__content {
		background-color: light-dark(var(--white), var(--gray800));
		cursor: grab;
		display: flex;
		gap: 1rem;
		font-size: 0.875em;
		padding: 1rem 1.25rem;
		padding-inline-start: 1rem;
		position: relative;
		text-align: start;
		transition:
			background-color var(--trans-dur),
			color var(--trans-dur),
			transform var(--trans-dur) ease-out;
		width: 100%;
		z-index: 2;

		&--dragging {
			cursor: grabbing;
			transition: none;
		}
	}

	&__delete-btn {
		background: none;
		border: none;
		color: var(--white);
		cursor: pointer;
		position: relative;
		height: 100%;

		.lucide {
			position: absolute;
			top: calc(50% - 0.75em);
			left: calc(50% - 0.75em);
			width: 1.5em;
			height: 1.5em;
		}
	}

	&__icon {
		color: var(--white);
		width: 1.75em;
		height: 1.75em;

		&-bg {
			border-radius: 50%;
			display: grid;
			place-items: center;
			flex-shrink: 0;
			width: 3em;
			height: 3em;
		}
	}

	&__message,
	&__title {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&__message {
		-webkit-line-clamp: 2;
		line-clamp: 2;
		margin-bottom: 0.5em;
	}

	&__sr {
		overflow: hidden;
		position: absolute;
		width: 1px;
		height: 1px;
	}

	&__timestamp {
		color: light-dark(var(--gray600), var(--gray300));
		display: flex;
		align-items: center;
		gap: 0.375em;
		transition: color var(--trans-dur);

		.lucide {
			width: 1em;
			height: 1em;
		}
	}

	&__title {
		font-weight: 700;
		-webkit-line-clamp: 1;
		line-clamp: 1;
		margin-bottom: 0.25em;
	}

	&__wrapper {
		transition: opacity var(--trans-dur) var(--trans-timing);
	}

	// when deleted
	&--deleting {
		max-height: 0 !important;
		margin-bottom: 0 !important;
		pointer-events: none;
	}

	&--deleting &__wrapper {
		opacity: 0;
	}
}

/* Animation */
@keyframes fade-scale-in {
	from {
		opacity: 0;
		transform: scale(0);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}