*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#89f7fe,#66a6ff);
    display:flex;
    justify-content:center;
    padding:40px;
}

.container{
    background:white;
    padding:30px;
    border-radius:15px;
    width:700px;
    box-shadow:0 15px 35px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.balance{
    text-align:center;
    margin-bottom:20px;
}

.form{
    display:flex;
    gap:10px;
    margin-bottom:15px;
}

input,select{
    padding:8px;
    border-radius:6px;
    border:1px solid #ccc;
}

button{
    padding:8px 15px;
    background:#66a6ff;
    border:none;
    color:white;
    cursor:pointer;
    border-radius:6px;
}

button:hover{
    opacity:0.9;
}

ul{
    list-style:none;
    margin-top:15px;
}

li{
    display:flex;
    justify-content:space-between;
    padding:8px;
    margin-bottom:8px;
    border-radius:6px;
    background:#f4f6ff;
}

li span{
    margin-right:10px;
}

.delete{
    background:red;
    padding:4px 8px;
    color:white;
    border:none;
    border-radius:4px;
    cursor:pointer;
}
