body {
    margin: 0;
    font-family: Consolas, monospace;
    background: #000;
    color: #00ff88;
}

header {
    text-align: center;
    padding: 20px;
}

.controls {
    text-align: center;
    padding: 10px;
}

button {
    padding: 6px 12px;
    background: #00ff88;
    border: none;
    cursor: pointer;
    color: black;
}

.market {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.orderbook, .trades {
    width: 40%;
}

#bids div {
    color: #00ff00;
}

#asks div {
    color: #ff4444;
}