body{
    margin:0;
    overflow:hidden;
    font-family:Poppins;
}

/* GAME BG */


  #game{
    width:100vw;
    height:100vh;

    background-image:url("images/bg.png");
    background-size:cover;        /* fills screen */
    background-position:center;   /* keeps image centered */
    background-repeat:no-repeat;  /* prevents tiling */

    position:relative;
    overflow:hidden;
}



/* ---------------- TOP BAR ---------------- */

#topBar{
    position:absolute;
    width:92%;
    left:50%;
    transform:translateX(-50%);
    top:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:14px 26px;

    border-radius:20px;

    backdrop-filter:blur(12px);
    background:rgba(255,255,255,.12);
    border:1px solid rgba(255,255,255,.25);

    color:white;
    font-size:24px;
}

/* SCORE */

#score{
    font-size:30px;
    font-weight:600;
    text-shadow:0 0 10px rgba(255,255,255,.6);
}

/* PAUSE BUTTON */

#pause{
    cursor:pointer;
    font-size:28px;
    transition:.2s;
}

#pause:hover{
    transform:scale(1.2);
}

/* BASKET */

#basket{
    position:absolute;
    bottom:25px;
    left:50%;
    transform:translateX(-50%);
    width:140px;

    filter:drop-shadow(0 10px 15px rgba(0,0,0,.5));
}

/* ITEMS */

.item{
    position:absolute;
    width:65px;
    pointer-events:none;
}

/* HEART */

.heart{
    width:42px;
    margin-right:6px;

}

