*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#0f172a;
color:white;
}

.dashboard{
display:flex;
min-height:100vh;
}

.sidebar{
width:220px;
background:#1e293b;
padding:20px;
}

.sidebar h2{
margin-bottom:20px;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
padding:10px;
margin-bottom:5px;
cursor:pointer;
border-radius:5px;
}

.sidebar li:hover,
.sidebar .active{
background:#38bdf8;
color:black;
}

.main-content{
flex:1;
padding:20px;
}

.topbar{
margin-bottom:20px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
margin-bottom:30px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
}

.charts{
background:#1e293b;
padding:20px;
border-radius:10px;
margin-bottom:30px;
}

.users table{
width:100%;
border-collapse:collapse;
}

.users th,
.users td{
padding:10px;
border-bottom:1px solid #334155;
}
