body{
background:#0f172a;
color:white;
text-align:center;
font-family:Arial;
}

canvas{
background:#111827;
border:2px solid #facc15;
display:block;
margin:10px auto;
}

#ui{
margin-top:10px;
}

button{
padding:10px 20px;
border:none;
border-radius:6px;
background:#facc15;
cursor:pointer;
font-weight:bold;
}
