body {
  background: #120c03;
  color: #ffca28;
  font-family: "Playfair Display", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.chronometer {
  width: 400px;
  padding: 40px;
  border: 4px double #ffca28;
  text-align: center;
  box-shadow: inset 0 0 30px #ffca2822;
}
input[type="range"] {
  width: 100%;
  accent-color: #ffca28;
}
h1 {
  font-size: 4rem;
  margin: 20px 0;
  font-weight: 300;
}
.warning {
  font-family: monospace;
  color: #ff5500;
  font-weight: bold;
  margin: 20px 0;
}
.jump-btn {
  background: transparent;
  color: #ffca28;
  border: 1px solid #ffca28;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
}
.jump-btn:hover {
  background: #ffca28;
  color: black;
}
