*{box-sizing:border-box!important;}
body{font-family:"Montserrat", serif;background:linear-gradient(34deg, rgb(239 237 225) 19%, rgb(243 234 239) 100%);}

a{color:black;text-decoration:none;}

h1{background: #f7f7f7;padding:20px;border-radius:10px;margin:0 auto;max-width:1200px;border:1px solid black;margin-bottom:20px;text-transform:uppercase;text-align:center;font-size:25px;}
.grid{background: #f7f7f7;display: flex;flex-wrap: wrap;gap: 20px;padding: 20px;margin: 0 auto;max-width: 1200px;border-radius: 10px;border: 1px solid black;}

.fontname{padding:10px;text-transform:uppercase;display:flex;align-items:center;justify-content:space-between;border-bottom:1px solid black;background:linear-gradient(34deg, rgb(239 237 225) 19%, rgb(243 234 239) 100%);border-radius:10px 10px 0 0}
code{padding: 10px;overflow-x: auto;flex: 1;}

.caja{border:1px solid black;border-radius:10px 10px 0 0;flex-grow:1;width:39%;background:#ffffff;display:flex;justify-content:center;flex-direction:column;}

.cont{border-top:1px solid black;display:flex;flex-wrap:wrap;
  i{outline:1px solid black;font-size:16px;transition: all 0.2s;height: 40px;min-width: 40px;background:rgb(239 237 225);flex-grow:1;display:flex;align-items:center;justify-content:center;
  &:hover{font-size:20px;}}

}