body {
    background:#0f172a;
    color:white;
    text-align:center;
    font-family:Arial;
}

.controls button{
    margin:5px;
    padding:8px 12px;
    border:none;
    border-radius:6px;
    background:#2563eb;
    color:white;
    cursor:pointer;
}

.controls button:hover{ background:#1d4ed8; }

svg{
    background:#1e293b;
    border-radius:10px;
}

.node{ fill:#334155; stroke:white; stroke-width:2; }
.source{ fill:#22c55e; }
.sink{ fill:#ef4444; }
.edge{ stroke:#94a3b8; stroke-width:2; marker-end:url(#arrow); }
.path{ stroke:yellow !important; stroke-width:4; }

text{ fill:white; font-size:12px; text-anchor:middle; }