:root {
	--color-dark: #070707;
	--color-light: #cccccc;
	--color-brand: #ffff00;
	--color-orange: #ff9900;
	--color-blue: #00ffff;
	--color-green: #00ff99;
	--font-heading: "Monomaniac One", sans-serif;
	--font-body: "Space Mono", monospace;
}

@keyframes flicker {
	0% {
		opacity: 0.15795;
	}
	5% {
		opacity: 0.31511;
	}
	10% {
		opacity: 0.94554;
	}
	15% {
		opacity: 0.2469;
	}
	20% {
		opacity: 0.62031;
	}
	25% {
		opacity: 0.0293;
	}
	30% {
		opacity: 0.00899;
	}
	35% {
		opacity: 0.5344;
	}
	40% {
		opacity: 0.12778;
	}
	45% {
		opacity: 0.52042;
	}
	50% {
		opacity: 0.3823;
	}
	55% {
		opacity: 0.2198;
	}
	60% {
		opacity: 0.9383;
	}
	65% {
		opacity: 0.86615;
	}
	70% {
		opacity: 0.68695;
	}
	75% {
		opacity: 0.55749;
	}
	80% {
		opacity: 0.96984;
	}
	85% {
		opacity: 0.0361;
	}
	90% {
		opacity: 0.24467;
	}
	95% {
		opacity: 0.08351;
	}
	100% {
		opacity: 0.54813;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	background-color: var(--color-dark);
	color: var(--color-light);
}

.screen:before {
	background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.2) 50%),
		linear-gradient(
			90deg,
			rgba(255, 0, 0, 0.03),
			rgba(0, 255, 0, 0.02),
			rgba(0, 0, 255, 0.03)
		);
	background-size: 100% 3px, 6px 100%;
	content: "";
	display: block;
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
}

.screen:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
	background: rgba(16, 16, 16, 0.2);
	z-index: 98;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	animation: flicker 2s infinite;
}

.start-screen,
.game-screen,
.end-screen {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
}

.start-screen__content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 3rem;
}

.start-screen__title {
	font-family: var(--font-heading);
	text-transform: uppercase;
	font-size: 4.5rem;
	margin: 0;
	line-height: 1;
}

.start-screen__title span {
	color: var(--color-brand);
}

.start-screen__description {
	font-family: var(--font-body);
	margin: 0;
	text-align: center;
	font-size: 1.2rem;
}

.start-screen__button {
	appearance: none;
	background-color: var(--color-dark);
	font-family: var(--font-family);
	padding: 0.25rem 1.5rem;
	border: var(--color-brand) 2px solid;
	cursor: pointer;
	transition: 200ms background-color ease-in-out;
	border-radius: 1.5rem;
}

.start-screen__button:hover {
	background-color: var(--color-brand);
}

.start-screen-button__title {
	font-size: 2rem;
	font-weight: 400;
	font-family: var(--font-heading);
	color: var(--color-brand);
	text-transform: uppercase;
	margin: 0;
	line-height: 0.75;
}

.start-screen__button:hover .start-screen-button__title {
	color: var(--color-dark);
	transition: 200ms color ease-in-out;
}

.start-screen__button--small .start-screen-button__title {
	font-size: 1.5rem;
}

.end-screen__content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1.5rem;
}

.end-screen__title {
	font-family: var(--font-heading);
	text-transform: uppercase;
	font-size: 4.5rem;
	margin: 0;
	line-height: 1;
	color: var(--color-brand);
}

.end-screen__description {
	font-family: var(--font-body);
	font-size: 1.5rem;
	text-align: center;
}

.end-screen__button {
	appearance: none;
	background-color: var(--color-dark);
	font-family: var(--font-family);
	padding: 0.25rem 1.5rem;
	border: var(--color-brand) 2px solid;
	cursor: pointer;
	transition: 200ms background-color ease-in-out;
	border-radius: 1.5rem;
}

.end-screen__button:hover {
	background-color: var(--color-brand);
}

.end-screen-button__title {
	font-size: 2rem;
	font-weight: 400;
	font-family: var(--font-heading);
	color: var(--color-brand);
	text-transform: uppercase;
	margin: 0;
	line-height: 0.75;
}

.end-screen__button:hover .end-screen-button__title {
	color: var(--color-dark);
	transition: 200ms color ease-in-out;
}

.end-screen__button--small .end-screen-button__title {
	font-size: 1.5rem;
}

.game-screen__content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 3rem;
	max-width: 500px;
	width: 100%;
}

.game-screen__sequence {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.game-screen__arrow {
	font-size: 3rem;
}

.game-screen__entry--success {
	color: var(--color-brand);
}

.game-screen__info {
	width: 100%;
}

.game-screen__timer {
	width: 100%;
	height: 14px;
	border: 2px var(--color-light) solid;
	border-radius: 14px;
}

.game-screen__progress {
	height: 10px;
	background-color: var(--color-brand);
	border: 2px var(--color-dark) solid;
	width: calc(100% - 4px);
	border-radius: 12px;
	transition: 200ms width ease-in-out;
}

.game-screen__top {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.game-screen__score,
.game-screen__highscore {
	text-transform: uppercase;
	font-size: 2rem;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75rem;
}

.game-screen__score {
	justify-content: flex-start;
}

.game-screen__highscore {
	justify-content: flex-end;
}

.game-screen__value {
	font-family: var(--font-heading);
	color: var(--color-brand);
	margin-top: -5px;
}

.game-screen__label {
	font-family: var(--font-body);
	color: var(--color-light);
	margin: 0;
	color: var(--color-light);
}

.game-screen__gem {
	border: 2px solid var(--color-brand);
	color: var(--color-brand);
	place-items: center;
	display: grid;
	padding: 1rem;
	border-radius: 8px;
	width: 112px;
	height: 112px;
	box-sizing: border-box;
}

.game-screen__gem--yellow {
	border-color: var(--color-brand);
	color: var(--color-brand);
}

.game-screen__gem--orange {
	border-color: var(--color-orange);
	color: var(--color-orange);
}

.game-screen__gem--blue {
	border-color: var(--color-blue);
	color: var(--color-blue);
}

.game-screen__gem--green {
	border-color: var(--color-green);
	color: var(--color-green);
}

.game-screen__gem i {
	font-size: 3.5rem;
}
