@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&display=swap');

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
}

body {

    --selectColor: transparent;
    --selectColorText: transparent;
    --selectContrastColor: color(from var(--selectColor) xyz clamp(0, (.36 / y - 1) * infinity, 1) clamp(0, (.36 / y - 1) * infinity, 1) clamp(0, (.36 / y - 1) * infinity, 1) / 1 );
   
    --selectContrastShadow: color-mix(in srgb-linear, var(--selectContrastColor), transparent 80%);
    --selectContrastSolid: color-mix(in srgb, var(--selectColor), var(--selectContrastShadow));
    --selectContrastShadow2: color-mix(in srgb-linear, var(--selectContrastColor), transparent 40%);
    --selectBackgroundColor: color-mix(in srgb, var(--selectColor), var(--selectContrastShadow2) 90%);

    --borderWidth: 6px;
    --borderWidth2: calc( var(--borderWidth) / 2 );
    --padding: 30px;
    --padding2: calc( var(--padding) / 2 );

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: clip;
    width: 100vw;
    min-height: 100svh;

    padding: var(--padding);

    background-color: var(--selectColor);
    background-image: linear-gradient(-65deg,var(--selectColor) 50%, var(--selectColorLast) 100%);
    background-position: center;
    background-repeat: no-repeat;

    color: var(--selectColorText);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;

}

#gsapWrapper {
    
    /* visibility: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    svg#spiralSvg {

        --mixBlendMode: "normal";
		    mix-blend-mode: var( --mixBlendMode );

        width: 150px;
        height: 150px;
        overflow: visible;
			
			#spiral2 {
				stroke: var(--selectContrastSolid);
			}

        #segmentsTemp {
            opacity: 0;
            path { stroke:#FFFFFF; fill: none; stroke-width: 2px; }
        }
        #segments path:not(.segmentFill) {
            opacity: 0;
            stroke:#FFFFFF; fill: none;
        }
        #segments path.segmentFill {
            --segmentColor: attr(data-color type(<color>));
            --segmentContrastColor: color(from var(--segmentColor) xyz clamp(0, (.36 / y - 1) * infinity, 1) clamp(0, (.36 / y - 1) * infinity, 1) clamp(0, (.36 / y - 1) * infinity, 1) / 1 );
            --opacity: calc( 100% - ( sibling-index() / sibling-count() * 25% ) );
						fill: var(--segmentColor);
            stroke: var(--selectContrastShadow);
            stroke-width: 6px;
        }

    }

}

#selectWrapper {

    position: fixed;
    right: 10px;
    top: 10px;
    bottom: 10px;
    z-index: 10000;
    display: block;
    width: 200px;
    padding: 10px;
    overflow: clip;
    background-color: #FFF4;
    border: 4px solid var(--selectContrastSolid);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(#000);

    #mixBlendModeSelect.notIosSelect {
        display: block;
        width: 100%;
        height: 150px;
        margin-bottom: 15px;
        padding: 10px
    }

     #mixBlendModeSelect.iosSelect
    {
        display: block;
        width: 100%;
        height: 50px;
        margin-bottom: 15px;
        padding: 10px
    }

    #colorSelect.notIosSelect
    {
        appearance: none;
        color: var(--selectContrastColor);
        height: 80%;
        height: calc( 100svh - 220px );
        display: block;
        overflow: auto;
        text-align: center;
        cursor: default;
        border: 0!important;
        outline: none!important;
        background: transparent;
    }
    #colorSelect.iosSelect
    {
        display: block;
        width: 100%;
        min-height: 50px;
        padding: 10px;
        option {
            padding: 10px
        }
        option::before {
            content: attr(title);
        }
    }

   #colorSelect {


        &:hover {
            cursor: default;
        }

        display: flex;
        align-items: center;
        justify-content: center;

        &::picker-icon { display: none; }

        #optionsWrapper {

            --wrapperOpacity: 0;

            display: block;
            position: relative;
            overflow: visible;
            word-break: break-all;
            color: var(--selectContrastColor);

        }

        optgroup {
            
            display: block;
            display: flex;
            flex-wrap: wrap;
            gap: 3px;
            padding: 0px;
            padding-top: 20px;
            overflow: auto;
            position: relative;
            
            option {

                --siblingIndex: calc( sibling-index() - 1 );

                --thisColor: attr(value type(<color>));
                --thisContrastColor: color(from var(--thisColor) xyz clamp(0, (.36 / y - 1) * infinity, 1) clamp(0, (.36 / y - 1) * infinity, 1) clamp(0, (.36 / y - 1) * infinity, 1) / 1 );

                aspect-ratio: 1/1;
                overflow: hidden;
                flex: 1 1 16.67%;
                max-width: 26px;
                outline: none;
                border: none;
                border-radius: 40%;
                outline: none;
                box-shadow: inset 0px 0px 0px 1px var(--selectContrastSolid);
                cursor: pointer;

                &:hover { box-shadow: none; }
                &:checked, &:active  {
                    box-shadow: none;
                    &::after {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        content: "✓";
                        font-size: 18px;
                        font-weight: bold;
                        background-color: var(--thisColor)!important;
                        color: var(--thisContrastColor);
                    }
                }
                &:first-of-type {
                    margin-left: 3px;
                    @supports not ( -moz-appearance: meterbar )
                    {
                        margin-left: -7px;
                    }
                }

            }

        }

    }


}


.bgImg {
    display: block;
    position: absolute;
    z-index: -1;
    width: 190px;
    height: 650px;
    margin-bottom: -100px;
    background-position: center center;
    background-size: auto 650px;
    background-repeat: no-repeat;
    border-radius: 10px;
		border: 3px solid var(--selectContrastSolid);

    &.bg1 { margin-left: -370px; }
    &.bg2 { margin-left: 40px; }
}